.header{
    background-color: rgb(118, 118, 220);
    color: white;
    text-align: center;
    font-weight: bold;
    height: 50px;
    padding: 10px;
    font-size: 2em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
}